[Unit]
Description=Modell Aachen log reporter
After=rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
EnvironmentFile=/etc/default/logreport
Environment=SENTRY_DSN=
Environment=RABBIT_USER=
Environment=RABBIT_PASSWORD=
User=www-data
ExecStart=/usr/local/bin/logreport
Restart=on-failure

[Install]
WantedBy=multi-user.target
